<?xml version="1.0" encoding="ISO-8859-15"?>
<launch>

  <include file="$(find freenect_launch)/launch/freenect.launch">
  </include>
  
  <node name="voxblox_node" pkg="voxblox_ros" type="voxblox_node" output="screen" args="--alsologtostderr" clear_params="true">
    <remap from="pointcloud" to="stereo_dense_reconstruction/pcl"/>
    <param name="tsdf_voxel_size" value="0.20" />
    <param name="tsdf_voxels_per_side" value="16" />
    <param name="voxel_carving_enabled" value="true" />
    <param name="color_mode" value="normals" />
    <param name="use_tf_transforms" value="false" />
    <param name="verbose" value="true" />
    <remap from="transform" to="vicon/firefly_sbx/firefly_sbx" />
    <param name="update_mesh_every_n_sec" value="1.0" />

    <rosparam file="$(find voxblox_ros)/cfg/euroc_dataset.yaml"/>

    <param name="mesh_filename" value="$(find voxblox_ros)/mesh_results/$(anon euroc).ply" />
  </node>
</launch>
